/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


body {
	background: rgb(242, 242, 238);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.navbar-default {
  .container {
    ul>li {
      a {
        &:hover {
          color: #1484F7;
					// 1484F7 blue
        }
      }
    }
  }
}

.navbar-nav > li {
  padding-bottom: 0px;
}

.navbar-brand-img {
  transform: scale(0.3, 0.3);
  display:inline-block;
  margin-top: 12px;
  float: left;
  position: absolute;
  padding: 0px;
  height: 30px;
  width: auto;
}

.color {
	color: #868686;
	font-size: 11px;
	a {
		color: #868686;
		text-decoration: none;
		&:hover {
			color: #ED6E6E;
		}

	}
}


#pictures {
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 10px 10px 10px 10px;
	  width: 250px;
    border-color: #fff;
	  border-radius: 4px;
	  text-align: center;

    &:hover {
      border-color: #E5E5E5;
    }

	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 5px 10px;
	  	a {
				color: #474747;
        &:hover {
        	text-decoration: none;
        }
	  	}
	  }
	  .user {
	  	font-size: 12px;
	  	border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
	  }
	}
}

#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
}


#pictures_show {
	.panel-heading {
		padding: 0;
	}
	.picture_image {
		img {
			max-width: 100%;
			width: 90%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		h1 {
			margin: 0 0 10px 0;
		}
		.description {
			color: #868686;
			line-height: 1.75;
			margin: 0;
		}
	}
	.panel-footer {
		padding: 20px 35px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}
  .panel-comment {
    padding: 35px;

    .description {
      color: #868686;
      line-height: 1.75;
      margin: 0;
    }
    .user {
      padding-top: 8px;
    }
  }
}

textarea {
	min-height: 250px;
}
